.form-edit-username {
  margin: 10px 0;
  animation: animate 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;    
  background-color: rgba(136, 138, 157, 0.4);
  padding: 5px 10px;
}

.form-edit-username input {
  background-color: #C4C4C4;
  border: none;
  margin-top: 3px;
  height: 20px;
  }

.form-edit-username input:focus{
  outline: none;
}

.form-edit-button{
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 400;
  color: white;
  font-size: 11px;
  padding: 10px 12px;
  margin: 6px 0;
  width: fit-content;
}

