.form-edit-password {
    margin: 10px 0;
    animation: animate 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;    
    background-color: rgba(136, 138, 157, 0.4);
    padding: 5px 10px;
}

.form-edit-password input {
    background-color: #C4C4C4;
    border: none;
    margin-top: 3px;
    height: 20px;
  }
  
  .form-edit-password input:focus{
    outline: none;
  }

  .form-edit-element label {
      font-size: small;
  }

  .form-edit-element {
      margin: 3px 0;
  }

  @media screen and (max-width: 630px) {
    .form-edit-element label {
        font-size: 11px;
    }

    input {
        width: 85%;
    }
  }
  
  @media screen and (max-width: 600px){
    .form-edit-element label {
        font-size: small;
    }

    input {
        width: 90%;
    }
  } 

  @media screen and (max-width: 410px){
    .form-edit-element label {
        font-size: 11px;
    }

    input {
        width: 85%;
    }
  }


    