.welcome-text-registration {
    font-size: x-large;
    font-weight: 300;
    margin-bottom: 40px;
}

.welcome-box {
    margin: auto;
    background-color: rgba(61, 62, 71, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 360px;
    border-radius: 15px;
    margin-top: 65px;
}

.welcome-box-text {
    font-weight: 200;
    font-size: large; 
    width: 350px;
    text-align: center;
}

.welcome-box .submit-button {
    margin-top: 40px;
}

